<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.polestar.domultiple"
>

    <application android:allowBackup="true" android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true" android:theme="@style/AppTheme"
        android:name="com.polestar.domultiple.PolestarApp">
        <activity
            android:name="com.polestar.domultiple.components.ui.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.polestar.domultiple.components.ui.ShortcutActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launcher"
            android:exported="true">
        </activity>
        <activity android:name="com.polestar.domultiple.components.ui.HomeActivity" android:screenOrientation="portrait" android:launchMode="singleTask"/>
        <activity android:name="com.polestar.domultiple.components.ui.AddCloneActivity" android:screenOrientation="portrait" android:exported="false"/>
        <activity android:name="com.polestar.domultiple.components.ui.NotificationActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name="com.polestar.domultiple.components.ui.FaqActivity" android:screenOrientation="portrait" android:exported="false"/>
        <activity android:name="com.polestar.domultiple.components.ui.WebViewActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name="com.polestar.domultiple.components.ui.SettingsActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name="com.polestar.domultiple.components.ui.LockSecureQuestionActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name="com.polestar.domultiple.components.ui.LockPasswordSettingActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name="com.polestar.domultiple.components.ui.LockSettingsActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name="com.polestar.domultiple.components.ui.FeedbackActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name="com.polestar.domultiple.components.ui.AboutActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name="com.polestar.domultiple.components.ui.NativeInterstitialActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name="com.polestar.domultiple.components.ui.AppLoadingActivity" android:screenOrientation="portrait" android:exported="true"
            android:excludeFromRecents="true"
            android:launchMode="singleTop" />
        <activity
            android:name="com.polestar.domultiple.components.ui.CustomizeSettingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.polestar.domultiple.components.ui.CustomizeIconActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DialogActivityStyle"/>
        <activity
            android:name="com.polestar.domultiple.components.ui.AppLockActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:taskAffinity="com.lody.virtual.vt"
            android:process=":x"
            android:theme="@style/AppTheme.Launcher"/>

        <receiver android:name="com.polestar.domultiple.components.receiver.CrashReceiver" android:exported="false">
            <intent-filter>
                <action android:name="appclone.intent.action.SHOW_CRASH_DIALOG"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.polestar.domultiple.components.receiver.ReferReceiver"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.polestar.domultiple.components.receiver.WakeReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="${applicationId}.wake" />/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
