<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.polestar.ad">
    <uses-permission android:name="android.permission.INTERNET" />
    <application >
        <activity android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent"
            android:excludeFromRecents="true"
            android:autoRemoveFromRecents="true"
            android:multiprocess="true" />

        <activity android:name="com.mopub.mobileads.MoPubActivity" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.mopub.mobileads.MraidActivity" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.mopub.common.MoPubBrowser" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.mopub.mobileads.MraidVideoPlayerActivity" android:configChanges="keyboardHidden|orientation|screenSize"/>

        <!--batmobi start-->
        <activity
            android:name="com.batmobi.BatMobiActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"/>
        <receiver android:name="com.batmobi.BatMobiBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <!--batmobi end-->

        <service android:name="com.polestar.grey.GreyAttributeService" android:exported="false" android:process=":p99" />
    </application>

</manifest>
