<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.dualspace.cloner"
    >
    <application android:allowBackup="true" android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true" android:theme="@style/AppTheme"
        android:name="in.dualspace.cloner.DualApp">
        <!--<activity-->
        <!--android:name="in.dualspace.cloner.components.ui.SplashActivity"-->
        <!--android:label="@string/app_name"-->
        <!--android:screenOrientation="portrait"-->
        <!--android:theme="@style/AppTheme.Launcher">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN"/>-->
        <!--<category android:name="android.intent.category.LAUNCHER"/>-->
        <!--</intent-filter>-->
        <!--</activity>-->
        <activity
            android:name="in.dualspace.cloner.components.ui.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>