<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nova.fast.free.vpn">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:maxSdkVersion="18" android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission android:name="nova.fast.free.vpn.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="nova.fast.free.vpn.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".NovaApp"
        android:persistent="true">
        <activity
            android:name=".ui.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ShortcutActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launcher"
            android:exported="true">
        </activity>
        <activity android:name=".ui.HomeActivity" android:screenOrientation="portrait" android:launchMode="singleTask"/>
        <activity
            android:name=".ui.FaqActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.SelectServerActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.FeedbackActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.SettingsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.AboutActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.UserCenterActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.WebViewActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="nova.fast.free.vpn.ui.AppProxySettingActivity"
            android:label="@string/proxied_apps"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"/>

        <service
            android:name="nova.fast.free.vpn.core.LocalVpnService"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>

        <receiver
            android:name="nova.fast.free.vpn.core.WakeReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.EVENT_REMINDER" />
                <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_DATA_CLEARED" />
                <action android:name="android.bluetooth.headset.profile.action.CONNECTION_STATE_CHANGED" />
                <action android:name="android.bluetooth.device.action.ACL_CONNECTED" />
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECTED" />
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.polestar.messaging.wake" />
            </intent-filter>
        </receiver>

        <receiver android:name=".network.SystemStatusReceiver">  
            <intent-filter>    
                <action android:name="android.intent.action.BOOT_COMPLETED"/>    
            </intent-filter>  
         </receiver> 

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5490912237269284~7387660650"/>

        <provider android:authorities="${applicationId}.sync.provider"
            android:exported="true"
            android:name="com.polestar.welive.DummyProvider"
            android:syncable="true" />

        <service android:exported="true" android:name="com.polestar.welive.SyncService">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter" android:resource="@xml/syncadapter" />
        </service>
        <service android:name="com.polestar.welive.WeLiveJobService" android:permission="android.permission.BIND_JOB_SERVICE" />
        <service android:exported="true" android:name="com.polestar.welive.AuthService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator" android:resource="@xml/authenticator" />
        </service>
</application>
</manifest>
